@page
@model hakkimda
@{
    ViewData["Title"] = "Hakkımda";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lezzet Haritası</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="hakkimda.css">

  </head>
  <body>


  
<div class="profilContainer">
  <div class="profile" style="text-align: center;">
    <img src="profil.png" alt="profil">
    <p>Zeynep AKSOY</p>
    <p>Full Stack Developer</p>
  </div>
</div>

<div class="hakkimdaYazi">

  <p>Merhaba! Ben Zeynep Aksoy. Bilgisayar mühendisliği eğitimi aldım ve şu anda tam zamanlı bir Full Stack Developer olarak çalışıyorum. Yazılım geliştirmeyle ilgili deneyimim beş yılı aşkın bir süredir devam ediyor ve çeşitli projelerde çalıştım.</p>
  <p>Özellikle web tabanlı uygulamalar üzerinde uzmanlaştım ve JavaScript, HTML, CSS gibi teknolojilerle güçlü bir şekilde çalışıyorum. Ayrıca, backend tarafında da deneyimim var ve Node.js, Express.js gibi teknolojilerle çalışmayı seviyorum.</p>
  <p>Yaratıcı, çözüm odaklı ve öğrenmeye hevesli biri olarak, her zaman yeni teknolojileri öğrenmek ve kendimi geliştirmek için çaba gösteriyorum. Ayrıca, ekip çalışmasına uyumlu ve iletişim becerilerim güçlüdür.</p>
  <p>Boş zamanlarımda kitap okumayı, seyahat etmeyi ve açık havada vakit geçirmeyi severim. Ayrıca, yeni restoranlar ve kafeler keşfetmeyi de çok seviyorum!</p>
</div>
</body>
</html>